    <!-- site navigation for all the webpage information -->
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/Categories">Categories</a></li>
          <li><a href="/About">About Us</a></li>
          <li><a href="/Contact">Contact Us</a></li>
        </ul>
      </nav>
