    <!-- User naviagation for all the webpage -->
    <div class = "userNav">
      <ul>
      <li><a href="/myItems">My Recipes</a></li>
      <li><a href="/signIn">Sign In</a></li>
      <li><a href="/logout">Log Out</a></li>
      
    </ul>
    </div>
